.todo {
	height: 70px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	font-size: 20px;
	border: 0px;
	border-bottom: 1px;
	border-color: black;
	border-style: solid;

	cursor: pointer;

	.description {
		display: none;
	}

	.name {
		flex-grow: 3;
	}

	.remove {
		cursor: pointer;
	}

	input[type='checkbox'] {
		$size: 13px;
		opacity: 0;
		& + span:before {
			content: '';
			width: $size;
			height: $size;
			/*background-color: white;*/
			display: inline-block;
			margin-right: 10px;
			border: 1px solid white;
			border-radius: 1px;
		}
		&:checked + span:before {
			width: 4px;
			top: 11px;
			left: 5px;
			border-radius: 0;
			border: 2px solid white;
			opacity: 1;
			border-top-color: transparent;
			margin-right: 10px;
			border-left-color: transparent;
			transform: rotate(45deg);
		}
	}

	&:hover {
		background-color: #00000044;
	}
}

.example-enter {
	opacity: 0.01;
}

.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}
